
.carddecks::-webkit-scrollbar {
   display: none;
}


.carddecks{
    display: flex;
    overflow-x: auto;
    text-align: center;
    background-color: #ddd;
}

.wrcarddecksap .cardItem{
    margin-right: 4px;
    background-color: #ddd;
} 
.myimage{
    height: 20%;
    object-fit:contain;
} 

.NavICONS{
    display: flex;
    justify-content:space-around;
      z-index: 5;
}
